$black: #000000;
$black-900: #111111;
$black-800: #181818;
$black-700: #1C1C1C;
$black-600: #282828;
$black-500: #343434;
$black-400: #404040;
$black-300: #525252;

$white: #FFFFFF;
$white-700: rgba(255, 255, 255, 0.7);
$white-500: rgba(255, 255, 255, 0.5);
$white-300: rgba(255, 255, 255, 0.3);
$white-200: rgba(255, 255, 255, 0.2);
$white-100: rgba(255, 255, 255, 0.1);

$green: #BFF623;
$green-700: rgba(191, 246, 35, 0.7);
$green-500: rgba(191, 246, 35, 0.5);
$green-300: rgba(191, 246, 35, 0.3);
$green-200: rgba(191, 246, 35, 0.2);
$green-100: rgba(191, 246, 35, 0.1);

$red: #FF2734;
$red-700: rgba(255, 39, 52, 0.7);
$red-500: rgba(255, 39, 52, 0.5);
$red-300: rgba(255, 39, 52, 0.3);
$red-200: rgba(255, 39, 52, 0.2);
$red-100: rgba(255, 39, 52, 0.1);
